<nav class='nav'>
  <a class='nav-link' href='/'>Homepage</a>
  <a class='nav-link' href='/dashboard'>Dashboard</a>
  {{#if logged_in}}
    <a class='nav-link' href='#'><button
        class='no-button'
        id='logout'
      >logout</button></a>"

  {{else}}
    <a class='nav-link' href='/login'>Login</a>
  {{/if}}
</nav>

<div>
  <h2>{{title}}</h2>
  posted by:
  {{user.name}}
  on
  {{date_created}}
  {{content}}

  <div>
    {{#if comments.length}}
      <div class='col-md-6'>
        <h3>Comments:</h3>

        {{#each comments as |comment|}}
          <div class='row mb-2'>
            <div class='col-md-8'>
              {{!-- <h4><a href='/post/'>{{comment.content}}
                  posted by NAME{{name}}</a></h4> --}}
              <h4>{{comment.content}}
                posted by
                {{comment.user_id}}</h4>
            </div>
            <div class='col-md-4'>
              <button
                class='btn btn-sm btn-danger'
                data-id='{{post.id}}'
              >DELETE</button>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
    <div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-content">Content:</label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add comment</button>
      </div>
    </form>
  </div>
    
    <script src="./js/comment.js"></script>

